body {
  padding-top: 6rem;
  padding-bottom: 6rem;
  font-family: 'Raleway', sans-serif;
}
img {
  width: 100%;
}

.navbar-brand {
  height: 75px;
  border: 5px solid black;
  padding: 1.3rem 0.5rem 0 0.5rem;
  margin-right: 0;
}

.pb-2,
.py-2 {
  padding-bottom: 7px !important;
}

.landing-items {
  border: 5px solid black;
  height: 240px;
  width: 300px;
}

.form-control:focus {
  border-color: gray;
  box-shadow: 0px 1px 0px 0px #333;
  transition: box-shadow 0.3s ease-in-out;
}

.custom-select.is-invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.was-validated .form-control:invalid:focus {
  box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.3);
  transition: box-shadow 0.3s linear;
}

.btn-light:hover {
  border-color: gray;
  box-shadow: 0px 1px 0px 0px #333;
  transition: box-shadow 0.3s ease-in-out;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  background-color: #fff !important;
}

.card {
  background-color: #fff !important;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.signup {
  margin-top: 10%;
}

.signin {
  margin-top: 10%;
}

.display-3 {
  padding-top: 10%;
}

.loader:empty {
  border: 5px solid #333;
  height: 6rem;
  margin: 10rem auto 0;
  opacity: 0;
  width: 6rem;

  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
